@import 'normalize.scss';


//fonts

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/avenirnextcyr-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

//======= mixns =======





// ====== variables ======
$maxWidth: 1660px;
$maxWidthContainer: 1410px;



body{
    font-family: 'AvenirNextCyr', sans-serif;
}
.section-inner{
    width: $maxWidthContainer;
    display: flex;
    justify-content: space-between;
}

.section-header{
    
    &-logo{
        width: 155px;
        height: 50px;
        background: url("../img/Logo_color\ 1logo.png") no-repeat;
        background-size: cover;
    }
    &-search{
        display: flex;
        &-input{}
        &-button{}
    }
    &-menu{
        display: flex;
        &_language{}
        &_log-in{}
        &_list{}
    }
}
.section-small-nav{

}
.section-promo{

}
.section-aboutp{

}
.section-jobs{

}
.section-services{

}
.section-doctors {

}
.section-reviews{

}
.section-news{

}
.section-footer {

}