@import 'normalize.scss';


//fonts

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/avenirnextcyr-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

//======= mixns =======

@mixin custom-green-button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #32D29F;
    border: none;
    border-radius: 2px ;
    cursor: pointer;
    &:hover{
        background: rgba(30, 206, 86, 0.7);
    }
 
 }
 @mixin transparentButt { color: #2BBB97;
    border: 1px solid #2BBB97;
    border-radius: 2px;
    background: transparent;
    width: 135px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;  
    &:hover{
        background: #2BBB97;
        color: white;
    }
 }

// ====== variables ======
$maxWidth: 1660px;
$maxWidthContainer: 1410px;


body{
    font-family: 'AvenirNextCyr', sans-serif;
}


.hr-line-sub-header{
    border-bottom: 1px solid #C0D3FE;
}
.section-inner{
    
    max-width: $maxWidthContainer;
    margin: 0 auto;
}

.section-header{
    max-width: $maxWidth;
    margin: auto auto;
    
    &-logo{
        margin-top: 15px;
        width: 155px;
        height: 50px;
        background: url("../img/images/Logo_color\ 1logo.png") no-repeat;
        background-size: cover;
    }
  
    &-search{
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        width: 389px;
        height: 50px;
        border: 1px solid #D2E1F5;
        box-sizing: border-box;
        border-radius: 4px;
        &-input{
           
            input{
                font-size: 16px;
                margin: 14px 0 15px 16px; 
                border: none;
               
            }
            ::placeholder{ color: #A7C0E2;}
        }
        
        &-button{
            button{
                width: 98px;
                height: 36px;
                margin: 7px 9px 7px 0; 
                @include custom-green-button;
                
            }
        
        }
    }
    &-menu{
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        width: 308px;
        &_language{
            padding-top: 5px;
            span{
                font-size: 16px;
                line-height: 20px;
                background: url(../img/icons/Vectortriangle-icon.svg) no-repeat;
                background-size: auto;
                background-position-x: right;
                background-position-y: center;
                width: 51px;
                display: block;
            }
        }
        &_log-in{
            button{
                width: 100px;
                height: 36px;
               
                @include custom-green-button;
               
            }
            &-icon{
                background:url("../img/icons/Vectorlock-login-icon.svg") no-repeat;
                width:11px; 
                height:16px; 
                padding: 0 9px  0 0;
                display:inline-block;
                vertical-align:bottom;
            }
            
        }
        
        &_list{
            padding-top: 5px;
            span{
                font-size: 16px;
                line-height: 20px;
                font-weight: 450;
                display: block;
                width: 75px;
                background: url(../img/icons/Vectormenu-burger.svg) no-repeat;
                background-size: auto;
                background-position-x: right;
                background-position-y: center;
            }
           
        }
    }
    .section-inner{
        height: 81px;
        display: flex;
        justify-content: space-between;
        
    }
    
}
.section-small-nav{
    padding-top: 15px;;
    .section-inner{
       
        height: 50px;
        width: $maxWidthContainer;
        margin: auto;
        .section-nav{
        &-list{
            
           padding: 0;
            list-style: none;
           &-item{
            display: inline-block;
            padding: 0 15px 0 0;
            background: url(../img/icons/Vectorlist-arrow.svg) no-repeat;
            background-size: 13px 6px;
            background-position-x: right;
            background-position-y: center;
            
           
           
            a{
                text-decoration: none;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #16395B;
                &:active{
                    text-decoration: underline;
                    
                }
               

            } 
            &:last-child{
                background: none;
                padding: 0;
                a{
                color: #A7C0E2;
                }
            }
            
            
            }
           
           }
        }
    }
}


.section-promo{
    .section-inner{
        display: flex;
        flex-direction: row;
    }
    &-info{
        box-sizing: border-box;
        padding: 66px 0 0 91px;
        width: 721px;
        height: 600px;
        background: linear-gradient(135.38deg, #2BBB97 45.98%, #25AEF6 91.19%);
        border-radius: 4px 0px 0px 4px;

        &-logo{
            width: 91px;
            height: 91px;
            background: url(../img/images/parents-logo-background.jpg) no-repeat;
            background-position: bottom;
        }
        &-name{
            &-text{
                padding-top: 16px;;
                &-main{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                }
                &-sub{
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.8);
                    margin: 0;
                    padding: 0;

                }
            }
        }
        &-location{
            padding-top: 42px;
            a{
                text-decoration: none;
            }
            p{
                margin: 0;
                padding-left: 34px; 
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/location-icon.svg) no-repeat;
                background-position-y: 3px;
            }
        }
        &-phone{

            padding-top: 23px;
            a{
                display: block;
                width: 250px;
                text-decoration: none;
            }
            p{
                margin: 0;
                padding-left: 34px;
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/Vectorphone-icon.svg) no-repeat;
                
            }
        }
        &-site{
            padding-top: 23px;
            a{
                display: block;
                width: 10px;
                text-decoration: none;
                text-transform: none;
            }
            p{
               
                margin: 0;
                padding-left: 33px;
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/Vectorweb-icon.svg) no-repeat;
                
                
            }
        }

        &-callme{
            padding-top: 42px;;
            button{
                border: 2px solid #FFFFFF;
                border-radius: 2px;
                background: transparent;
                width: 199px;
                height: 50px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                cursor: pointer;  
                &:hover{
                    background: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
.section-promo-info-name-text-wraper{
    display: flex;
    .section-promo-info-name-text-icon{
        width: 73px;
        height: 30px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        margin: 8px 0 0 22px;
        background: url(../img/icons/star-one-icon.png) no-repeat;
        background-position-y: 5px;
        background-position-x: 7px;
        span{
            display: block;
            font-weight: 750;
            font-size: 20px;
            line-height: 25px;
            color: white;
            margin-left: 34px;
            padding-top: 3px;
            }
    }
}
    &-media{
        &-photos-bg{
            background:  rgba(58, 89, 120, 0.8);
            width: 690px;
            height: 300px;
            p{
                
                margin: 0 0 0 55px;
                padding-top: 220px;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px; 
                color: #FFFFFF;
            }
        }
        &-photos{
            background: url(../img/images/photo-top.png) no-repeat;
            width: 690px;
            height: 300px;
            p{
                background: url(../img/icons/images-icon.svg) no-repeat;
                background-position-y: 225px;
                padding-left: 13px+24px;
            }
        }
        &-map{
            background: url(../img/images/photo-bot.png) no-repeat;
            p{
                background: url(../img/icons/map-icon.png) no-repeat;
                background-position-y: 225px;
                padding-left: 13px+24px;
            }
        }
    }


    
}


// ==================== about==================


button:focus{
outline: none;
}

.section-about{
    margin-top: 60px;
    .section-inner{
        display: flex;
        justify-content: space-between;
    }

    &-text{
        width: 930px;
        min-height: 404px;
        margin-right: 40px;
        h3{
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }
        p{
            font-weight: 300;
            font-size: 20px;
            line-height: 25px;
        }
        a{
            p{
               
                display: block;
            }
            padding-top: 5px;
            display: block;
            width: 170px;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            text-decoration-line: underline;
             color: #25AEF6;
        }
      
    }
    &-schedule{
        width: 330px;
        min-height: 404px;
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding: 0;
            margin: 0;
            margin-bottom: 22px;
        }
        &-item{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #D2E1F5;
            &-day{
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #AFB9DD;
                padding: 12px 0 12px 0;
                margin: 0;
            }
            &-time{
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                color: #3B3B3B;
                padding: 12px 0 12px 0;
                margin: 0;
            }
        }
    }
}


.section-jobs{
    margin-top: 132px;
    &-specializes{
        min-height: 221px;
        width: 930px;
        &-header{
            width: 100%;
            display: flex;
            justify-content: space-between;

            h3{
                margin: 0;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }
            button{
              @include transparentButt
            }
        }

        &-block{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
            &:last-child{
                margin-right: 52px;
            }
            a{
                display: block;
                text-decoration: none;
                color: black;
                &:hover{
                    text-decoration: underline;                 
                    color: #2BBB97;
                    .section-jobs-specializes-block-counter{
                        text-decoration: underline;                 
                        color: #2BBB97;
                    }
                }
            }
            p{  
                display: inline-block;
                margin: 0 0 37px 0;
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
            }

            &-letter{
                color: #25AEF6;
            }
            &-counter{
                color: #AFB9DD;
            }

        }
    }
}
.section-services{
    .section-inner{
        margin-top: 84px;
    }
    &-header{
        display: flex;
        justify-content: space-between;
        h3{
            margin: 0;
        }
        button{
            @include transparentButt
          }
    }
    &-main{
        margin-top: 27px;
        display: flex;
        justify-content: space-between;


        a{
            text-decoration: none;
            color: inherit;
        }
        &-item{
            width: 330px;
            min-height: 180px;
            h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                margin: 0;
            }
            p{
                font-weight: 450;
                font-size: 12px;
                line-height: 15px;
                min-height: 26px;
                
            }
          
            border: 1px solid #D2E1F5;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 30px;
            &-subtext{
                padding: 15px 0 25px 0;
                color: #999999;
                margin: 0;
                
            }
        
            &-time{
                background: url(../img/icons/with-bg-clock.png) no-repeat;
                padding: 8px 0 0 34px;
                display: inline-block;
                color: #16395B;
                
                margin: 0  80px 0 0 ;
            }
            &-price{
                background: url(../img/icons/price-with-bg-icon.png) no-repeat;
                padding: 8px 0 0 34px;
                display: inline-block;
                color: #16395B;
            }



            &:hover{
                border: 1px solid #2BBB97;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}



.section-doctors{
    height: 532px;
    .section-inner{
        margin-top: 121px;
      
    }
    &-main{
        display: flex;
        justify-content: space-between;
    }
    &-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3{
            margin: 0 0 0 5px;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }
        button{
            @include transparentButt
          }
    }
    &-main-item1, &-main-item2, &-main-item3, &-main-item4{

       height: 305px;
        z-index: 4;
        position: relative;
        margin-top: 15px;
        background: #FFFFFF;
        width: 330px;
        overflow: hidden;
        border: 1px solid #D2E1F5;
        box-sizing: border-box;
        border-radius: 8px;
        &-block1{
            padding: 30px 30px 15px 30px;
            border-bottom: 1px solid #D2E1F5;
            display: flex;
            justify-content: space-between;
            &-photo{
                position: relative;
                &-main{
                   
                    width: 80px;
                    height: 80px;
                    background: url(../img/images/photo-doctor.svg);

                    &-status{
                        padding-top: 83px;
                        display: block;
                        p{
                            margin: 0;
                            font-weight: 750;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: #2BBB97;
                        }
                    }
                }
                &-status{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    background: #2BBB97;
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 10px;
                    left: 10px;
                    top: 64px;
                }
            }

            &-name{
                &-main{
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3B3B3B;
                }
                &-sub{
                    font-weight: 450;
                    font-size: 12px;
                    line-height: 15px;
                    color: #16395B;
                }

                width: 174px;
            }


        }
        &-block2{
            padding: 15px 28px 13px 30px;
            border-bottom: 1px solid #D2E1F5;
            display: flex;
            justify-content: space-between;

            &-stars-text{
                margin: 0;
                font-weight: 450;
                font-size: 12px;
                line-height: 15px;
                color: #AFB9DD;
            }
            &-stars{
                &-num{
                margin: 6px 0 0 0;
                background: url(../img/icons/doctor-star-icon.svg) no-repeat;
                font-weight: 750;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
                padding-left: 22px;
                }
            }
            &-answers{
                &-num{
                    margin: 6px 0 0 0;
                    background: url(../img/icons/doctor-coment-icon.png) no-repeat;
                    font-weight: 750;
                    font-size: 12px;
                    line-height: 15px;
                    color: #000000;
                    padding-left: 22px;
                    }
            }
            &-exper{
                &-num{
                    margin: 6px 0 0 0;
                    background: url(../img/icons/doctor-clock-icon.svg) no-repeat;
                    font-weight: 750;
                    font-size: 12px;
                    line-height: 15px;
                    color: #000000;
                    padding-left: 22px;

                    }
            }
        }

        &-block3{
            padding: 15px 28px 12px 30px;
            &-sup{
                font-weight: 450;
                font-size: 12px;
                line-height: 15px;           
                color: #AFB9DD;
                margin: 0;
            }
            &-adress{
                margin: 3px 0 0 0;
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
            }
        }

        &-block4{
            display: none;
            padding: 0 30px 0 30px;
            &-sup{
                margin: 0 0 3px 0;
                font-weight: 450;
                font-size: 12px;
                line-height: 15px;
                color: #AFB9DD;
            }
            &-consult{
                margin: 0;
                font-weight: 450;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
                span{
                    font-weight: 600;
                }
            }
            button{
                margin: 26px 0 30px 0;
                @include custom-green-button;
                width: 128px;
                height: 36px;
                
            }
        }
  
    }


}
.section-reviews-answers{
    position: absolute;
    top: 2580px;
    z-index: 0;
    h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        color: #000000;
        margin: 0;
       
    }
}
.section-doctors-main-item1:hover{
            height: unset;
    .section-doctors-main-item1-block4{
      display: block;
  }
}
.section-doctors-main-item2:hover{
    height: unset;
    .section-doctors-main-item2-block4{
      display: block;
  }
}
.section-doctors-main-item3:hover{
    height: unset;
    .section-doctors-main-item3-block4{
      display: block;
  }
}
.section-doctors-main-item4:hover{
    height: unset;
    .section-doctors-main-item4-block4{
      display: block;
  }
}

// ==================media==============================
    @media (max-width: 1420px){
        .section-inner{
            max-width: 1200px;
        }
        .section-promo-info{
            width: 640px;
        }
        .section-promo-media{
            width: 550px;
            &-photos{
                width: 550px;
                &-bg{
                    width: 550px; 
                }
            }
            &-map{
                width: 550px;
            }
        }

.section-services{
        &-main{
            &-item{
                width: 280px;
                &-time{              
                    margin: 0  30px 0 0 ;
                }
            }

        }
    }
}
@media (max-width: 1220px){
        .section-inner{
            max-width: 970px;
        }
        .section-promo-info{
            padding-left: 50px;
            width: 500px;
            &-name{
               &-text{
                    margin-left: 0;
                }
            }
           
        }
        .section-promo-media{
            width: 470px;
            &-photos{
                width: 470px;
                &-bg{
                    width: 470px; 
                }
            }
            &-map{
                width: 470px;
            }
        }

        .section-services{
            &-main{
                &-item{
                    width: 230px;
                }
    
            }
        }
}
        
    
    @media (max-width: 998px){
        .section-inner{

            max-width: 750px;

        }
        .section-header{
            .section-inner{
                height: 250px;
               max-width: $maxWidth;
                margin: 0 auto;
                display: unset;
            }
            &-logo{
                float: left;
                margin: 30px ;
                padding: 0;
            }
            &-search{   
                float: right;
                margin: 30px ;
                padding: 0;
            }
            &-menu{
                width: 90%;
                clear: both;
                margin: 20px auto;
                padding: 0;
            }
           
            

        }

        .section-promo{

            .section-inner{
                display: flex;
                flex-direction: column;
            }
            &-info{
                padding-left: 0;
                width: 100%;
                &-logo{
                    margin: auto;
                }
                &-name{
                    margin: auto;
                    &-text{
                        margin-left: 200px;
                    }
                }
                &-location{
                    margin: auto;
                    p{
                        margin-left: 130px;
                        
                    }
                }
                &-phone{
                    margin: auto;
                    a{
                        display: block;
                        width: 250px;
                        margin-left: 250px;
                    }


                }
                &-site{
                    margin: auto;
                    p{
                        margin-left: 250px;
                    }
                }
                &-callme{
                    margin: auto;
                        button{
                            margin-left: 270px;
                        }
                }
            }

            &-media{
                width: 100%;
                
                &-photos{
                    width: 100%;
                    background-size: cover;
                    &-bg{
                        width: 100%; 
                    }
                }
                &-map{
                    background-size: cover;
                    width: 100%;
                }
            }
        }


        .section-about{
            margin-top: 60px;
            .section-inner{
                display: flex;
                flex-direction: column;
            }
            &-text{
                width: 100%;
                min-height: 404px;
                margin-bottom: 60px;
            }

        
            &-schedule{
                margin: auto;
                width: 600px;
                min-height: 404px;

            }
        }
        .section-jobs{

            &-specializes{
                width: 650px;
                margin: auto;
                
                &-block{
                    margin-top: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        // ===================== services==================



        .section-services{
            &-main{
                display: flex;
                flex-wrap: wrap;
                &-item{
                    width: 330px;
                    margin-top: 25px;
                }
    
            }
        }


}




@media (max-width: 767px){
        .section-inner{
            
            max-width: 660px;
         
        }
        .section-promo{
            &-info{
                width: 100%;
                &-logo{
                    margin: auto;
                }
                &-name{
                    margin: auto;
                    &-text{
                        margin-left: 160px;
                    }
                }
                &-location{
                    margin: auto;
                    p{
                        margin-left: 100px;
                        
                    }
                }
                &-phone{
                    margin: auto;
                    a{
                        margin-left: 210px;
                    }
                }
                &-site{
                    margin: auto;
                    p{
                        margin-left: 210px;
                    }
                }
                &-callme{
                    margin: auto;
                        button{
                            margin-left: 230px;
                        }
                }
            }
        }



        .section-services{
            &-main{
                display: flex;
                flex-wrap: wrap;
                &-item{
                    width: 310px;
                    margin-top: 25px;
                }
    
            }
        }
}


@media (max-width: 677px){
        .section-inner{
            max-width: 550px;
        }
        
        // ======== media header =====
    .section-header{
        .section-inner{
              
                display: block;
                
            }
             
        &-logo{
            float: none;
            margin: 20px auto;
            padding: 0;

        }
        &-search{   
            float: none;
 
            margin: 30px auto;
            padding: 0;
            clear: both;
        }
        &-menu{
            float: none;
            width: 90%;
            clear: both;
            margin: 50px auto;
            padding: 0;
            
        }
    }
      // ======== media header =====


      // ======== media promo =====
    .section-promo{
        &-info{
            width: 100%;
            &-logo{
                margin: auto;
            }
            &-name{
                margin: auto;
                &-text{
                    margin-left: 120px;
                }
            }
            &-location{
                margin: auto;
                p{
                    margin-left: 40px;
                    
                }
            }
            &-phone{
                margin: auto;
                a{
                    margin-left: 160px;
                }
            }
            &-site{
                margin: auto;
                p{
                    margin-left: 160px;
                }
            }
            &-callme{
                margin: auto;
                    button{
                        margin-left: 185px;
                    }
            }
        }
    }

      // ======== media promo =====

// ======================== about =============

.section-about{
    margin-top: 60px;
    .section-inner{
        display: flex;
        flex-direction: column;
    }
    &-text{
        width: 100%;
        min-height: 404px;
        margin-bottom: 40px;
        h3{
            text-align: center;
        }
    }


    &-schedule{
        margin: auto;
        width: 400px;
        min-height: 404px;
        h3{
            text-align: center;
        }
    }
    }

.section-jobs{

    &-specializes{
        width: 450px;
        margin: auto;
        
        
    &-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
            &-inner{
                margin-bottom: 35px;
                &-item{
                    p{
                       margin-left: 140px; 
                    }
                }
            }
        &:last-child{
            margin-right: 52px;
        }
        }
        }
    }
.section-services{
    &-main{
        display: flex;
        flex-wrap: wrap;
        &-item{
            width: 265px;
            margin-top: 25px;
        }

    }
}
}
@media (max-width: 565px){
    .section-inner{
        max-width: 450px;
    }
     .section-promo{
        &-info{
            width: 100%;
            &-logo{
                margin: auto;
            }
            &-name{
                margin: auto;
                &-text{
                    margin-left: 60px;

                }
                &-text{
                    display: block;
    
                }
            }
            &-location{

                margin: auto;
                p{
                    margin-left: 40px;
                    br{
                        display: none;
                    }
                }
            }
            &-phone{
                margin: auto;
                a{
                    margin-left: 100px;
                }
            }
            &-site{
                margin: auto;
                p{
                    margin-left: 100px;
                }
            }
            &-callme{
                margin: auto;
                    button{
                        margin-left: 125px;
                    }
            }
        }
        
    }
    .section-services{
        &-main{
            display: flex;
            flex-direction: column;
            &-item{
                margin: auto;
                width: 330px;
                margin-top: 25px;
            }
    
        }
    }

}