@import 'normalize.scss';


//fonts

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/avenirnextcyr-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

//======= mixns =======

@mixin custom-green-button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #32D29F;
    border: none;
    border-radius: 2px ;
    cursor: pointer;
 
 }



// ====== variables ======
$maxWidth: 1660px;
$maxWidthContainer: 1410px;


body{
    font-family: 'AvenirNextCyr', sans-serif;
}


.hr-line-sub-header{
    border-bottom: 1px solid #C0D3FE;
}
.section-inner{
    
    max-width: $maxWidthContainer;
    margin: 0 auto;
}

.section-header{
    max-width: $maxWidth;
    margin: auto auto;
    
    &-logo{
        margin-top: 15px;
        width: 155px;
        height: 50px;
        background: url("../img/images/Logo_color\ 1logo.png") no-repeat;
        background-size: cover;
    }
  
    &-search{
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        width: 389px;
        height: 50px;
        border: 1px solid #D2E1F5;
        box-sizing: border-box;
        border-radius: 4px;
        &-input{
           
            input{
                font-size: 16px;
                margin: 14px 0 15px 16px; 
                border: none;
               
            }
            ::placeholder{ color: #A7C0E2;}
        }
        
        &-button{
            button{
                width: 98px;
                height: 36px;
                margin: 7px 9px 7px 0; 
                @include custom-green-button;
                
            }
        
        }
    }
    &-menu{
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        width: 308px;
        &_language{
            padding-top: 5px;
            span{
                font-size: 16px;
                line-height: 20px;
                background: url(../img/icons/Vectortriangle-icon.svg) no-repeat;
                background-size: auto;
                background-position-x: right;
                background-position-y: center;
                width: 51px;
                display: block;
            }
        }
        &_log-in{
            button{
                width: 100px;
                height: 36px;
                
                @include custom-green-button;
            }
            &-icon{
                background:url("../img/icons/Vectorlock-login-icon.svg") no-repeat;
                width:11px; 
                height:16px; 
                padding: 0 9px  0 0;
                display:inline-block;
                vertical-align:bottom;
            }
            
        }
        
        &_list{
            padding-top: 5px;
            span{
                font-size: 16px;
                line-height: 20px;
                font-weight: 450;
                display: block;
                width: 75px;
                background: url(../img/icons/Vectormenu-burger.svg) no-repeat;
                background-size: auto;
                background-position-x: right;
                background-position-y: center;
            }
           
        }
    }
    .section-inner{
        height: 81px;
        display: flex;
        justify-content: space-between;
        
    }
    
}
.section-small-nav{
    .section-inner{
        height: 81px;
        width: $maxWidthContainer;
        margin: auto;
        .section-nav{
        &-list{
            
           padding: 0;
            list-style: none;
           &-item{
            display: inline-block;
            padding: 0 15px 0 0;
            background: url(../img/icons/Vectorlist-arrow.svg) no-repeat;
            background-size: 13px 6px;
            background-position-x: right;
            background-position-y: center;
            
           
           
            a{
                text-decoration: none;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #16395B;
                &:active{
                    text-decoration: underline;
                    
                }
               

            } 
            &:last-child{
                background: none;
                padding: 0;
                a{
                color: #A7C0E2;
                }
            }
            
            
            }
           
           }
        }
    }
}


.section-promo{
    .section-inner{
        display: flex;
        flex-direction: row;
    }
    &-info{
        width: 721px;
        height: 600px;
        background: linear-gradient(135.38deg, #2BBB97 45.98%, #25AEF6 91.19%);
        border-radius: 4px 0px 0px 4px;

        &-logo{
            width: 91px;
            height: 91px;
            background: url(../img/images/parents-logo-background.jpg) no-repeat;
            background-position: bottom;
            margin-left: 91px;
            padding-top: 66px;;
        }
        &-name{
            &-text{
                margin-left: 91px;
                padding-top: 16px;;
                &-main{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                }
                &-sub{
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.8);
                    margin: 0;
                    padding: 0;

                }
            }
        }
        &-location{
            margin-left: 91px;
            padding-top: 42px;
            a{
                text-decoration: none;
            }
            p{
                margin: 0;
                padding-left: 34px; 
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/location-icon.svg) no-repeat;
                background-position-y: 3px;
            }
        }
        &-phone{
            margin-left: 91px;
            padding-top: 23px;
            a{
                text-decoration: none;
            }
            p{
                margin: 0;
                padding-left: 34px;
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/Vectorphone-icon.svg) no-repeat;
                
            }
        }
        &-site{
            margin-left: 91px;
            padding-top: 23px;
            a{
                text-decoration: none;
                text-transform: none;
            }
            p{
                margin: 0;
                padding-left: 33px;
                font-weight: 450;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                background: url(../img/icons/Vectorweb-icon.svg) no-repeat;
                
                
            }
        }

        &-callme{
            margin-left: 91px;
            padding-top: 42px;;
            button{
                border: 2px solid #FFFFFF;
                border-radius: 2px;
                background: transparent;
                width: 199px;
                height: 50px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                cursor: pointer;  
            }
        }
    }
.section-promo-info-name-text-wraper{
    display: flex;
    .section-promo-info-name-text-icon{
        width: 73px;
        height: 30px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        margin: 8px 0 0 22px;
        background: url(../img/icons/star-one-icon.png) no-repeat;
        background-position-y: 5px;
        background-position-x: 7px;
        span{
            display: block;
            font-weight: 750;
            font-size: 20px;
            line-height: 25px;
            color: white;
            margin-left: 34px;
            padding-top: 3px;
            }
    }
}
    &-media{
        &-photos-bg{
            background:  rgba(58, 89, 120, 0.8);
            width: 690px;
            height: 300px;
            p{
                
                margin: 0 0 0 55px;
                padding-top: 220px;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px; 
                color: #FFFFFF;
            }
        }
        &-photos{
            background: url(../img/images/photo-top.png) no-repeat;
            width: 690px;
            height: 300px;
            p{
                background: url(../img/icons/images-icon.svg) no-repeat;
                background-position-y: 225px;
                padding-left: 13px+24px;
            }
        }
        &-map{
            background: url(../img/images/photo-bot.png) no-repeat;
            p{
                background: url(../img/icons/map-icon.png) no-repeat;
                background-position-y: 225px;
                padding-left: 13px+24px;
            }
        }
    }


    
}















// ==================media==============================
    @media (max-width: 1410px){
        .section-inner{
            max-width: 1200px;
        }
        .section-promo-info{
            width: 640px;
        }
        .section-promo-media{
            width: 550px;
            &-photos{
                width: 550px;
                &-bg{
                    width: 550px; 
                }
            }
            &-map{
                width: 550px;
            }
        }
    }

    @media (max-width: 1200px){
        .section-inner{
            max-width: 970px;
        }
        .section-promo-info{
            width: 500px;
            &-logo{
                margin-left: 50px;
            }
            &-name{
                margin-left: 50px;
                &-text{
                    margin-left: 0;
                }
            }
            &-location{
                margin-left: 50px;
            }
            &-phone{
                margin-left: 50px;
            }
            &-site{
                margin-left: 50px;
            }
            &-callme{
                margin-left: 50px;
            }
        }
        .section-promo-media{
            width: 470px;
            &-photos{
                width: 470px;
                &-bg{
                    width: 470px; 
                }
            }
            &-map{
                width: 470px;
            }
        }
    }
        
    
    @media (max-width: 998px){
        .section-inner{

            max-width: 750px;

        }
        .section-header{
            .section-inner{
                height: 250px;
               max-width: $maxWidth;
                margin: 0 auto;
                display: unset;
            }
            &-logo{
                float: left;
                margin: 30px ;
                padding: 0;
            }
            &-search{   
                float: right;
                margin: 30px ;
                padding: 0;
            }
            &-menu{
                width: 90%;
                clear: both;
                margin: 20px auto;
                padding: 0;
            }
           
            

        }

        .section-promo{
            .section-inner{
                display: flex;
                flex-direction: column;
            }
            &-info{
                width: 100%;
                &-logo{
                    margin: auto;
                }
                &-name{
                    margin: auto;
                    &-text{
                        margin-left: 200px;
                    }
                }
                &-location{
                    margin: auto;
                    p{
                        margin-left: 130px;
                        
                    }
                }
                &-phone{
                    margin: auto;
                    p{
                        margin-left: 250px;
                    }
                }
                &-site{
                    margin: auto;
                    p{
                        margin-left: 250px;
                    }
                }
                &-callme{
                    margin: auto;
                        button{
                            margin-left: 270px;
                        }
                }
            }

            &-media{
                width: 100%;
                
                &-photos{
                    width: 100%;
                    background-size: cover;
                    &-bg{
                        width: 100%; 
                    }
                }
                &-map{
                    background-size: cover;
                    width: 100%;
                }
            }
        }


    }
    @media (max-width: 767px){
        .section-inner{
            
            max-width: 660px;
         
        }
        .section-promo{
            &-info{
                width: 100%;
                &-logo{
                    margin: auto;
                }
                &-name{
                    margin: auto;
                    &-text{
                        margin-left: 160px;
                    }
                }
                &-location{
                    margin: auto;
                    p{
                        margin-left: 100px;
                        
                    }
                }
                &-phone{
                    margin: auto;
                    p{
                        margin-left: 210px;
                    }
                }
                &-site{
                    margin: auto;
                    p{
                        margin-left: 210px;
                    }
                }
                &-callme{
                    margin: auto;
                        button{
                            margin-left: 230px;
                        }
                }
            }
        }
    }


@media (max-width: 677px){
        .section-inner{
            max-width: 550px;
        }
        
        // ======== media header =====
    .section-header{
        .section-inner{
              
                display: block;
                
            }
             
        &-logo{
            float: none;
            margin: 20px auto;
            padding: 0;

        }
        &-search{   
            float: none;
 
            margin: 30px auto;
            padding: 0;
            clear: both;
        }
        &-menu{
            float: none;
            width: 90%;
            clear: both;
            margin: 50px auto;
            padding: 0;
            
        }
    }
      // ======== media header =====


      // ======== media promo =====
    .section-promo{
        &-info{
            width: 100%;
            &-logo{
                margin: auto;
            }
            &-name{
                margin: auto;
                &-text{
                    margin-left: 120px;
                }
            }
            &-location{
                margin: auto;
                p{
                    margin-left: 40px;
                    
                }
            }
            &-phone{
                margin: auto;
                p{
                    margin-left: 160px;
                }
            }
            &-site{
                margin: auto;
                p{
                    margin-left: 160px;
                }
            }
            &-callme{
                margin: auto;
                    button{
                        margin-left: 185px;
                    }
            }
        }
    }

      // ======== media promo =====

}
@media (max-width: 565px){
    .section-inner{
        max-width: 450px;
    }
     .section-promo{
        &-info{
            width: 100%;
            &-logo{
                margin: auto;
            }
            &-name{
                margin: auto;
                &-text{
                    margin-left: 60px;

                }
                &-text{
                    display: block;
    
                }
            }
            &-location{
                margin: auto;
                p{
                    margin-left: 40px;
                    
                }
            }
            &-phone{
                margin: auto;
                p{
                    margin-left: 100px;
                }
            }
            &-site{
                margin: auto;
                p{
                    margin-left: 100px;
                }
            }
            &-callme{
                margin: auto;
                    button{
                        margin-left: 125px;
                    }
            }
        }
        
    }
}
.section-promo{

}
.section-aboutp{

}
.section-jobs{

}
.section-services{

}
.section-doctors {

}
.section-reviews{

}
.section-news{

}
.section-footer {

}